.cust-profile{
    font-size:150px;
}
.cust-profile-list{
    font-size:110px;
}

.customers-list-item{
    margin:5px;
    border-color: #F7F7F7;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.customer-detail-modal{
   padding: 20px;
   background-color: white !important;
   border-radius:10px;
}

.customer-detail-body{
    word-wrap: break-word;
}
/*Field modified and invalid*/
.ng-dirty.ng-invalid{
    border-color: red;
}
/*Field modified and valid*/
.ng-dirty.ng-valid{
    border-color:green;
}

/*Field touched and invalid*/
.ng-touched.ng-invalid{
    border-color: red;
}
/*Field touched and valid*/
.ng-touched.ng-valid{
    border-color:green;
}

