<section class="customer-detail-modal container" ng-controller="CustomerCreateController as updateCtrl">
  <div class="page-header">
    <h1>{{customer._id ? 'Edit Customer' : 'Create Customer'}}</h1>
  </div>
  <div class="col-xs-12">
    <form>
      <fieldset>
        <uib-alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </uib-alert>
        <div class="row">
          <div class="col-sm-6 col-xs-12 text-center">
            <div ng-class="{'text-primary': customer.referred, 'text-danger':!customer.referred}">
              <i class="glyphicon glyphicon-user cust-profile" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-list"></i></span>
                    <input type="text" id="firstname" ng-model="updateCtrl.customer.firstname" class="form-control" placeholder="Firstname" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-list"></i></span>
                    <input type="text" id="lastname" ng-model="updateCtrl.customer.lastname" class="form-control" placeholder="Lastname" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-map-marker"></i></span>
                    <input type="text" id="suburb" ng-model="updateCtrl.customer.suburb" class="form-control" placeholder="Suburb" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-flag"></i></span>
                    <input type="text" id="country" ng-model="updateCtrl.customer.country" class="form-control" placeholder="Country" aria-describedby="basic-addon1">
                    <div ng-messages="form.customerForm.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Country is required.</p>
                    </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-briefcase"></i></span>
                    <input type="text" id="industry" ng-model="updateCtrl.customer.industry" class="form-control" placeholder="Industry" aria-describedby="basic-addon1">
                    <div ng-messages="form.customerForm.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Industry is required.</p>
                    </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" id="email" ng-model="updateCtrl.customer.email" class="form-control" placeholder="email@email.com" aria-describedby="basic-addon1" required>
                    <div ng-messages="form.customerForm.email.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Email is required.</p>
                    </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-phone"></i></span>
                    <input type="text" id="phone" ng-model="updateCtrl.customer.phone" class="form-control" placeholder="Phone number" aria-describedby="basic-addon1" required>
                    <div ng-messages="form.customerForm.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Phone is required.</p>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
              <div class="form-group">
              <div class="input-group input-group-lg">
                <label class="control-label" for="referred">Referred</label>
                <input type="checkbox" id="referred" ng-model="updateCtrl.customer.referred" class="form-control" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-3 pull-right">
                   <button class="btn btn-warning btn-lg btn-block" ng-click="updateCtrl.cancel()">Cancel</button>
                </div>
                <div class="col-xs-9">   
                 <button  class="btn btn-block btn-lg btn-success" ng-click="updateCtrl.save(customer); updateCtrl.ok()" ng-disabled="form.customerForm.$invalid">{{customer._id ? 'Update and Close' : 'Create'}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
