<section>
  <div class="page-header">
    <div class="row">
      <div class="col-xs-6 pull-left">
        <h1>My Customers</h1>
      </div>
      <div class="col-xs-4 col-xs-offset-1 pull-right">
        <button class=" pull-right btn btn-success btn-lg" data-ui-sref="customers.create"><i class="glyphicon glyphicon-plus"></i></button>
      </div>
    </div>
  </div>
    <div ng-repeat="customer in vm.customers" class="well text-center col-xs-10 col-xs-offset-1 col-md-2 col-md-offset-1">
      <div class="row">
        <a ui-sref="customers.view({ customerId: customer._id })" class="customer-link">
          <div class="">
            <span class="text-center">{{customer.firstname + ' ' + customer.lastname + ' ' + customer.email }}</span>
          </div>
        </a>
      </div>
    </div>
   <div class="alert alert-warning text-center" data-ng-if="!vm.customers.length">
    No customers yet, why don't you <a data-ui-sref="customers.create">create one</a>?
  </div>
</section>
