<section>
  <div class="page-header">
    <div class="row">
      <div class="col-xs-6 pull-left">
        <h1>My Customers</h1>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search a customer..." ng-model="searchQuery.firstname">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 margin-top-5">
      <button class="btn btn-success btn-block btn-lg" data-ui-sref="customers.create"><i class="glyphicon glyphicon-plus"> New Customer</i></button>
    </div>
  </div>
  
  <div class="list-group">
    {{searchQuery}}
    <div ng-repeat="customer in vm.customers | filer:searchQuery" class="col-xs-6 col-sm-4">
      <a ui-sref="customers.view({ customerId: customer._id })" class="list-group-item customers-list-item">
        <div ng-class="{'text-primary': customer.referred, 'text-danger':!customer.referred}" class="text-center">
          <i class="glyphicon glyphicon-user cust-profile-list" aria-hidden="true"></i>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <h4>{{ customer.firstname + ' ' + customer.lastname }}</h4>
            <small>Since {{customer.created | date : 'shortDate' }}</small>
          </div>
        </div>
      </a>
    </div>
  </div>
   <div class="alert alert-warning text-center" data-ng-if="!vm.customers.length">
    No customers yet, why don't you <a data-ui-sref="customers.create">create one</a>?
  </div>
</section>
